{% for hotel in hotels %}
    <article class="media content-section">
        <img class="rounded-circle hotel-img" src="{{ hotel.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <span class="mr-1">{{ hotel.year_opened }}</span>
          <small class="text-muted">{{ hotel.location }}</small>
        </div>
        <h4 class="article-title">{{ hotel.name }}</h4>
        <p class="article-content">{{ hotel.desc }}</p>
      </div>
    </article>
{% endfor %}